.products { min-height:300px; }
.product { padding:20px 10px; }
.product > .product-card { box-shadow: 0 0 1px gray; height: 100%; }
.product > .product-card:hover { box-shadow: 0 0 5px gray; }
.product > .product-card .row {  margin-left:0 !important; margin-right:0 !important;}
.product > .product-card .picture { margin: 10px 0; }
.product > .product-card .picture img { width:100%; display:block; }
.product > .product-card .title { font-size:24px; line-height:32px; font-weight:bold; }
.product > .product-card .description { font-size:16px; padding:15px; }
.product > .product-card .price { flex: 0 0 100px; text-align:center; font-size:32px; line-height:32px; }
